/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/


body {
  background: rgb(10, 58, 50);  /* fallback for old browsers */
  background: linear-gradient(rgb(0, 0, 0), rgba(7, 99, 7, 0.7)), url("../img/bg.jpg");  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgb(0, 0, 0), rgba(88, 5, 5, 0.7)), url("../img/bg.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background-color: rgb(80, 11, 11);
  padding: 1.5rem;
  border-radius: 0.625rem;
  max-width: 500px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.418));
}

main img {
  height: 50%;
  width: 50%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
